<hr/>
<div ng-controller = "obiController" ng-init = "getobits();getpeople();getnewspapers();" class ="container-fluid">
    <div class = "container">
        <div class = "row">
            <div class = "col-md-2">
                <b>Search By: </b>
            </div>
            <div class = "col-md-3">
                <input type="text" class="col-6 form-control" ng-model="search_personId" placeholder="Enter person Id">
            </div>
            <div class = "col-md-1">
                <button class="col-2 btn btn-info" type="button" ng-click = "searchobit()">Go</button>
            </div>
        </div>
        <div class = "row">
            <div class = "col-md-2">
            </div>
            <div class = "col-md-3">
                <input type="text" class="col-6 form-control" ng-model="search_newspaperId" placeholder="Enter newspaper Id">
            </div>
        </div>
    </div>
    <div class = "table-responsive container">
        <p ng-model="error"></p>
        <table class = "table table-hover">
            <tr>
                <th>#</th>
                <th>Obituary ID</th>
                <th>Person ID</th>
                <th>Newspaper ID</th>
                <th>Issue Date</th>
                <th>Page No</th>
            </tr>
            <tr ng-repeat = "obit in obits">
                <td>{{ $index+1 }}</td>
                <td>{{ obit.id }}</td>
                <td>{{ obit.personId }}</td>
                <td>{{ obit.newspaperId }}</td>
                <td>{{ obit.issueDate }}</td>
                <td>{{ obit.pageNumber }}</td>
            </tr>
            <tr ng-if="visible">
                <td></td>
                <td>
                </td>
                <td>
                    <select class = "form-control" ng-model = "$parent.personId" name="personId" required>
                        <option ng-repeat = "person in people">{{ person.id }}</option>
                    </select>
                </td>
                <td>
                    <select class = "form-control" ng-model = "$parent.newspaperId" name = "newspaperId" required>
                        <option ng-repeat = "newspaper in newspapers">{{ newspaper.id }}</option>
                    </select>
                </td>
                <td>
                    <input type = "text" class = "form-control" ng-model = "$parent.issueDate" name = "issueDate" required>
                </td>
                <td>
                    <input type = "text" class = "form-control" ng-model = "$parent.pageNumber" name = "pageNumber" required>
                </td>
                <td>
                    <button class = "btn btn-info" ng-click = "addobit()">Add</button>
                </td>
            </tr>
        </table>
        <button class = "btn btn-primary" ng-click="visible = true">Add new</button>
    </div>
</div>