<hr/>
<div ng-controller = "obiController" ng-init = "getpeople()" class ="container-fluid">
    <div class = "container">
        <div class = "row">
            <div class = "col-md-2">
                <b>Search By: </b>
            </div>
            <div class = "col-md-3">
                <input type="text" class="col-6 form-control" ng-model="search_text" placeholder="Enter last Name">
            </div>
            <div class = "col-md-1">
                <button class="col-2 btn btn-info" type="button" ng-click = "searchperson()">Go</button>
            </div>
        </div>
    </div>
    <div class = "table-responsive container">
        <p ng-model="error"></p>
        <table class = "table table-hover">
            <tr>
                <th>#</th>
                <th>Person ID</th>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Gender</th>
                <th>Birth Date</th>
                <th>Death Date</th>
            </tr>
            <tr ng-repeat = "person in people">
                <td>{{ $index+1 }}</td>
                <td>{{ person.id }}</td>
                <td>{{ person.firstName }}</td>
                <td>{{ person.lastName }}</td>
                <td ng-if = "person.gender =='m'">Male</td>
                <td ng-if = "person.gender =='f'">Female</td>
                <td>{{ person.birthDate }}</td>
                <td>{{ person.deathDate }}</td>
            </tr>
            <tr ng-if="visible">
            <td></td>
            <td>
            </td>
            <td>
                <input type="text" class="form-control" ng-model = "$parent.firstName" name="firstName" required>
            </td>
            <td>
                <input type="text" class="form-control" ng-model = "$parent.lastName" name="lastName" required>
            </td>
            <td>
                <select class = "form-control" ng-model="$parent.gender" name = "gender" required>
                    <option>Male</option>
                    <option>Female</option>
                    <option>Other</option>
                </select>
            </td>
            <td>
                <input type="text" class="form-control" ng-model = "$parent.birthDate" name="birthDate" required>
            </td>
            <td>
                <input type="text" class="form-control" ng-model = "$parent.deathDate" name="deathDate" required>
            </td>
            <td>
                <button class = "btn btn-info" ng-click = "addperson()">Add</button>
            </td>
        </tr>
    </table>
    <button class = "btn btn-primary" ng-click="visible = true">Add new</button>
    </div>
</div>